json5==0.9.5
jupyter==1.0.0
kaggle==1.5.12
keras==2.9.0
Keras-Preprocessing==1.1.2
pandas==1.4.2
pandas-profiling==3.1.0



streamlit==1.9.2
streamlit-lottie==0.0.3



tokenizers==0.12.1
txt2tags==3.7
virtualenv==20.13.1
visions==0.7.4

torch
torchmetrics
pytorch-lightning
pylab-sdk
transformers
torchvision

regex
nltk
